@import url(http://fonts.googleapis.com/css?family=Oxygen);

* {
	font-family: "Oxygen";
}
header {
	display: block;
	margin: 0;
	position: fixed;
	top: 0;
	left: 0;
	height: 100px;
	width: 100%;
	background-color: #F2F2F2;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
header img {
	margin-left: 15%;
	height: 75px;
	margin-top: 12.5px;
}
header nav{

}
header nav ul {
	display: table;
	list-style: none;
}
header nav ul li {
	display: table-cell;
}
html {
	margin-top: 100px;
}
div#content {
	margin-right: 15%;
	margin-left: 15%;
	background-color: #E0E0E0;
}
